{% extends 'base.html' %}
{% block title %}Упражнение{% endblock %}

{% block content %}
<h1>Упражнение</h1>
<div class="row">
    <div class="col-md">
        <table class="table table-striped">
            <tr>
                <th>Код упражнения</th>
                <th>Описание упражнения</th>

            </tr>
            <tr>
                <td>{{object.exercise_name}}</td>
                <td>{{object.exercise_description}}</td>

            </tr>

        </table>

    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="{% url 'unirecords:home' %}">
            <button type="button" class="btn btn-light">Назад к списку</button>
        </a>
    </div>
</div>
{% endblock %}

